<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H2</title>
</head>
<body>
    <h1 style="color: darkgreen;">h2 IS THE MOST POWER FULL BIKE IN THE WORLD.The Kawasaki Ninja H2 is a
         "supercharged supersport"-class motorcycle in the Ninja sports bike series manufactured by Kawasaki,
         featuring a variable-speed centrifugal supercharger.
    </h1>
    <img src="h2.jpg" alt="h2">
</body>
</html>